@model IEnumerable<QL_NhaHangCafe_Nhom07.Models.Ban>

<h2 class="mb-3">Danh sách bàn</h2>

<a asp-action="Create"
   class="btn btn-primary mb-3">
    Thêm bàn
</a>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Mã</th>
            <th>Tên bàn</th>
            <th>Số chỗ</th>
            <th>Trạng thái</th>
            <th width="200">Chức năng</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaBan</td>
                <td>@item.TenBan</td>
                <td>@item.SoChoNgoi</td>
                <td>@item.TrangThai</td>

                <td>
                    <a asp-action="Edit"
                       asp-route-id="@item.MaBan"
                       class="btn btn-warning btn-sm">
                        Sửa
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@item.MaBan"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('Xóa bàn này?')">
                        Xóa
                    </a>
                </td>
            </tr>
        }
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show shadow-sm border-0 d-flex align-items-center" role="alert">
                <i class="bi bi-check-circle-fill me-2 fs-5"></i>
                <div>
                    @TempData["SuccessMessage"]
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </tbody>
</table>