@model IEnumerable<QL_NhaHangCafe_Nhom07.Models.DatBan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongKhach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaBanNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongKhach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaBanNavigation.MaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhNavigation.MaKh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDatBan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDatBan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDatBan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
