@model IEnumerable<QL_NhaHangCafe_Nhom07.Models.MonAn>

<h2>Danh sách món ăn</h2>

<a asp-action="Create"
   class="btn btn-primary mb-3">
    Thêm món
</a>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Tên món</th>
            <th>Giá</th>
            <th>Trạng thái</th>
            <th width="200">Chức năng</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TenMon</td>

                <td>
                    @item.Gia.ToString("N0") VNĐ
                </td>

                <td>@item.TrangThai</td>

                <td>
                    <a asp-action="Edit"
                       asp-route-id="@item.MaMon"
                       class="btn btn-warning btn-sm">
                        Sửa
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@item.MaMon"
                       class="btn btn-danger btn-sm">
                        Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>